.chat-messages {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 70vh;
    overflow-y: auto;
    background-color: var(--background-color, #87c1fc); /* Usando variável */
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
}

.message {
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 60%;
    word-wrap: break-word;
}

.user-message {
    background-color: var(--user-message-bg, #d1e7dd); /* Usando variável */
    align-self: flex-end;
    color: var(--user-message-color, #0f5132); /* Usando variável */
}

.gpt-message {
    background-color: var(--gpt-message-bg, #f8d7da); /* Usando variável */
    align-self: flex-start;
    color: var(--gpt-message-color, #842029); /* Usando variável */
}
/* Estilos para as barras de redimensionamento */
.resize-bar {
    position: absolute;
    width: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: ns-resize;
    z-index: 1;
}

/* Barra vertical no canto inferior direito */
/*.resize-bar-bottom-right {
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

/* Barra horizontal centralizada na parte inferior */
.resize-bar-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 100px;
}
