:root {
  --app-background: #282c34; /* Mantém a cor do fundo */
  --header-background: var(--app-background);
  --chat-background: rgba(255, 255, 255, 0.1);
  --button-background: #28a745;
  --button-hover: #218838;
  --text-color: white;
  --link-color: #61dafb;
}

.App {
  background-color: var(--app-background); /* Adicione esta linha */
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0; /* Modifique de 'margin: 0 5%' para 'margin: 0' */
}

.App-header {
  background-color: var(--header-background);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.chat-window {
  padding: 10px;
  border-radius: 15px;
  margin: 0 5%; /* Mantém margem lateral apenas para o chat */
  margin-bottom: 10px;
  background-color: var(--chat-background);
}

.new-search-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-search-button:hover {
  background-color: var(--button-hover);
}

